
@{
    ViewData["Title"] = "Details";
}

<h1>Your Details</h1>

<p>
    Your Name : @ViewBag.UserName
</p>
<p>
    Your Email : @ViewBag.Email
</p>
<p>
    Gender : @ViewBag.Gender
</p>
<p>
    Your Selection for newsletter : @ViewBag.Option
</p>



